html {
    --background-color: white;
    --paragraph-color: black;
    --header-color: black;

    --button-color: black;

    --href-color: black;
    --href-hover-color: #555;

    --paragraph-size: 18px;
    --header-size: 20px;

    --emoji-size: 28px;

    --profile-picture-size: 50px;
    --message-margin-left: 65px;
}
body {
    background: var(--background-color);
    color: var(--paragraph-color);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    //max-width: 1000px;
    //width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: var(--paragraph-size);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--header-color);
}
a {
    color: var(--href-color);
    font-weight: bold;
}
a:hover {
    color: var(--href-hover-color);
}
button {
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    font-size: var(--paragraph-size);
    border: 4px solid var(--button-color);
    background: var(--background-color);
    color: var(--button-color);
    transition: 0.7s;
}
button:hover {
    border: 4px	solid var(--button-color);;
    background:	var(--button-color);;
    color: var(--background-color);
    transition: 0.7s;
}
button:active {
    border: 4px solid var(--paragraph-color);
    background: var(--background-color);
    color: var(--paragraph-color);
    transition: 0.7s;
}
.centered {
    display: block;
    margin: auto;
}
header {
    //display: none;
}
header > * {
    padding-right: 5px;
    font-size: var(--header-size);
}
header > *:hover {
    color: var(--href-hover-color);
}
.fa {
    //transition: 0.7s;
}
.fa:hover {
    //transform: scale(1.5);
    //transition: 0.7s;
    color: var(--href-hover-color);
}
.call-button{
    width: 200px;
}
.call-button:hover span {
    display: none;
}
.call-button:hover:before {
    content: 'Click to call or text';
}
.emoji {
    font-size: var(--emoji-size);
}
.warning {
    color: red;
    font-weight: bold;
}
.welcome {
    padding-top: 10px;
}
.profile-picture {
    border-radius: 50%;
    width: var(--profile-picture-size);
    float: left;
    border: solid 2px black;
    //transform: translate(0, px)
}
.message {
    margin-left: var(--message-margin-left);
}
